@import '../utilities/variable';

@mixin input {
  background-color: $background-color;
  border: 1px solid $font-color;
  color: $font-color;
  border-radius: 8px;
  display: block;
  padding: 0.4em;
  font-size: $reg-text;
  width: 270px;
}

@mixin btn {
  background: $Btn-color;
  border: none;
  border-radius: 6px;
  padding: 0.3em 1em 0.3em 1em;
}

@mixin btn-dark {
  background: $main-color;
  border: 1px solid $font-color;
  max-width: 6rem;
}

@mixin triangle($borderThickness, $borderSide, $color) {
  width: 0;
  height: 0;
  border-left: $borderThickness solid transparent;
  border-right: $borderThickness solid transparent;
  #{$borderSide}: $borderThickness solid $color;
}
