// COLORS
$background-color: #050401;
$main-color: #303036;
$font-color: #f0f7f4;
$waring-color: #fe5f55;
$brown: #c57b57;
$Btn-color: #d3d4d9;

// FONTS //

// FONT SIZE
$caption: 12px;
$reg-text: 16px;
$h4: 21.33px;
$h3: 28.43px;
$h2: 37.9px;
$h1: 50.52px;
