// COLORS
$background-color: #050401;
$main-color: #303036;
$font-color: #f0f7f4;
$waring-color: #fe5f55;
$brown: #c57b57;
$Btn-color: #d3d4d9;

// FONTS //

// FONT SIZE
$caption: clamp(0.91rem, calc(0.89rem + 0.1vw), 0.96rem);
$reg-text: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.2rem);
$h4: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.5rem);
$h3: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
$h2: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
$h1: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
