.App {
  margin: 0rem 1rem 0 1rem;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, 1fr);
  height: 100vh;
}

.register-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header {
  grid-column: 1 / 1;
  grid-row: 4/ 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid-big {
  height: 200vh;
  header {
    grid-column: 1 / 1;
    grid-row: 1/ 6;
  }
}
.form,
.onboarding-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 1/1;
  grid-row: 5/13;
}
.onboarding-start {
  grid-column: 1/1;
  grid-row: 7/13;
}

.flex-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.main {
  header {
    grid-column: 1 / 1;
    grid-row: 2/3;
  }
  .btns {
    grid-column: 1/ 1;
    grid-row: 4 / 6;
    display: flex;
    justify-content: space-around;
    .btn-dark {
      margin: 0;
      margin-bottom: auto;
      img {
        padding: 0.2rem;
      }
    }
  }
  .playboard {
    grid-column: 1/1;
    grid-row: 6 / 11;
    display: flex;
    input {
      margin-top: auto;
      margin-left: 1rem;
    }
  }
}
