@import "./utilities/variable";
@import "./utilities/animations";
@import "./utilities/fonts";
@import "./layout";
@import "./styles.scss";

body {
  color: $font-color;
  background: $background-color;
  * {
    margin: 0;
    box-sizing: border-box;
  }
}
